<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
     integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>SignUp</title>
</head>
<body>
  <div class="container" style="background-color:aqua; height:950px">
   <a href="{% url 'login' %}" class="btn btn-danger" style="margin-top:500px;">Login</a>
   <div class="col-sm-6">
  <h3 class="text-white my-5">Signup</h3>
   <form action="" method="POST" novalidate>
    {% csrf_token %}
     {% for fm in form %}
     
     <div class="form-group">
       {{fm.label_tag}} {{fm}}
     </div>
     
    {% endfor %}
    <input type="submit" class="btn btn-primary" value="Signup">
   </form>
  </div>
  </div>
</body>
</html>